<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Create New Employee</h1>
    <form method="post" action="/add-employee">
        <label for="userId">User ID:</label>
        <input type="text" id="userId" name="userId" required><br>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br>

        <label for="department">Department:</label>
        <input type="text" id="department" name="department" required><br>

        <input type="submit" value="Create Employee">
    </form>
</body>
</html>